.clients-container {
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;

  .left {
    flex: 1;
  }
  .right {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
